.illustration-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}