.illustration-images {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.illustration-images span {
  height: 100%;
  width: 400px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}