.about-block {
  margin: 0 auto;
  color: #004953;
  width: 80%;
  padding-top: 50px;
}

.about-description {
  display: flex;
}

.about-description p {
  font-size: 18px;
}

.about-description-paragraph{
  padding-left: 50px;
  width: 450px;
}

.profile-pic {
  z-index: 1;
  width: 40%;
  height: 40%;
  box-shadow: 10px 10px #004953;
}

.skills-description {
  display: flex;
  justify-content: space-between;
}

.skills-description ul {
  list-style-type: circle;
}

@media screen and (max-width: 900px) {
  .about-description {
    display: flex;
    flex-direction: column;
  }

  .about-description-paragraph{
    padding-left: 0px;
    width: 90%;
  }

  .profile-pic {
    width: 80%;
    height: 80%;
  }

}