body {
    /* background-color: #f7f0f0; */
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.hero h1{
    padding-top: 10%;
    font-size: 56px;
    text-shadow: 2px 2px #FF0000;
}

.hero p {
    font-size: 25px;
}

a { 
    color:red;
    text-decoration: none; 
}

/* Each state */
a:visited { 
    text-decoration: none; 
    color:red; 
}

a:hover { 
    text-decoration: yellow underline wavy;
}

a:focus { 
    text-decoration: blueviolet underline wavy; 
    color:yellow;
}

a:hover, a:active { 
    text-decoration: blue underline wavy 
}


@media screen and (max-width: 600px) {
    .hero h1{
        font-size: 36px;
        text-shadow: 2px 2px #FF0000;
    }
    
    .hero p {
        font-size: 18px;
        margin-bottom: 2.5%;
    }   
}