footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  padding: 2.5%;
  height: 10%;
}

.social-media-links {
  display: flex;
  justify-content: space-between;
}

.social-media-links a {
  padding-left: 5px;
}

@media screen and (max-width: 750px) {

  footer {
    display: flex;
    flex-direction: column;
  }

  .social-media-links {
    display: flex;
    flex-direction: column;
  }

}