footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  padding: 1%;
  height: 5%;
  background-color: white;
}

.social-media-links {
  display: flex;
  justify-content: space-between;
}

.social-media-links a {
  padding-left: 5px;
}

@media screen and (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 60px;
  }

  .social-media-links {
    display: flex;
    flex-direction: column;
  }

}